.custom-row {
    --background: blue;
}

.cabecalho{
    background-color: rgba($color: #9a9a9a, $alpha: 1.0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.corpo{
    background-color: rgba($color: #c9c9c9, $alpha: 1.0);
}

.corpo:last-child{
    background-color: rgba($color: #c9c9c9, $alpha: 1.0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.select{
    background-color: red;
}

.resultado{
    display: block;
}

.resultadoHidden{
    display: none;
}
