<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input label="Peso" type="number" [(ngModel)]="peso"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input label="Altura" type="number" [(ngModel)]="altura"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" (click)="initializer()">Calcular</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" (click)="limparCampos()">Limpar</ion-button>
      </ion-col>
    </ion-row>
    <div class="resultadoHidden" #RES>
      <ion-row>
        <ion-col>
          <ion-input label="Resultado" #RESINPUT [(ngModel)]="resultado" readonly="true"></ion-input>
        </ion-col>
      </ion-row>
    </div>
    <ion-grid>
      <div class="cabecalho">
        <ion-row>
          <ion-col>
            <ion-text color="light">Classificação</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="light">IMC</ion-text>
          </ion-col>
        </ion-row>
      </div>
      <div class="corpo" #ON3>
        <ion-row>
          <ion-col>
            <ion-text color="dark">Obesidade Nivel III</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="dark">≥ 40</ion-text>
          </ion-col>
        </ion-row>
      </div>
      <div class="corpo" #ON2>
        <ion-row>
          <ion-col>
            <ion-text color="dark">Obesidade Nivel II</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="dark">35,0 - 39,9</ion-text>
          </ion-col>
        </ion-row>
      </div>
      <div class="corpo" #ON1>
        <ion-row>
          <ion-col>
            <ion-text color="dark">Obesidade Nivel I</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="dark">30,0 - 34,9</ion-text>
          </ion-col>
        </ion-row>
      </div>
      <div class="corpo" #SPS>
        <ion-row>
          <ion-col>
            <ion-text color="dark">Sobrepeso</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="dark">25,0 - 29,9</ion-text>
          </ion-col>
        </ion-row>
      </div>
      <div class="corpo" #NML>
        <ion-row>
          <ion-col>
            <ion-text color="dark">Peso Normal</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="dark">18,5 - 24,9</ion-text>
          </ion-col>
        </ion-row>
      </div>
      <div class="corpo" #PBX>
        <ion-row>
          <ion-col>
            <ion-text color="dark">Peso Baixo</ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="dark"> ≤ 18,4 </ion-text>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-grid>

</ion-content>