<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aluno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img width="320" height="250" alt="Bostileiro Médio" src="https://pbs.twimg.com/media/GLcq7k4XAAE9T8Z?format=png&name=900x900" />
          <ion-card-header>
            <ion-card-title>Lucas Sousa da Silva</ion-card-title>
            <ion-card-subtitle>22105488</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
